<div class="lg:relative bg-navy">
    <div class="relative mx-auto px-16 w-full pt-16 pb-20 text-center lg:py-48 lg:text-left z-10">
        <div class="px-4 lg:w-7/12 sm:px-8 xl:pr-16">
            {% set hero = entry.homeHeroSection.one() %}
            <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-white sm:text-5xl sm:leading-none md:text-6xl lg:text-5xl xl:text-6xl">
                {{ hero.heading }}
            </h2>
            <div class="w-full lg:w-2/3">
                <p class="mt-3 opacity-75 text-white max-w-md mx-auto text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl">
                    {{ hero.heroText }}
                </p>
            </div>
            <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
                <div class="mt-3 sm:mt-0">
                    <a href="#" class="btn-white">
                        Learn more
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-9/12 lg:h-full kenburns">
        {% set image = hero.heroImage.one().optimizedimages %}
        {% set originalImage = hero.heroImage.one() %}
        {% if image | length %}
            <img src="{{ image.src() }}"
                 alt="{{ originalImage.title }}"
                 class="absolute inset-0 w-full h-full object-cover kenburns"
                 srcset="{{ image.srcset() }}"
                 sizes="100vw" />
            <img class="absolute w-full h-full object-cover right-0 top-0" src="/assets/img/main-watermark.svg" alt="MincoTech">
            <img class="hidden lg:block absolute inset-0 h-full" src="/assets/img/angleoverlay.svg" alt="Angle overlay">
        {% endif %}
    </div>
</div>