{% for entry in entries %}
    <div data-aos="fade-up" data-aos-delay="{{ loop.index * 100 }}" class="w-full relative lg:w-1/3 px-12 py-32 bg-gradient-to-l {% if alt %}from-input_bg{% else %}from-opaque_white{% endif %} flex flex-col group relative">
        {% set img = entry.seoImage.one().optimizedimages %}
        {% set originalImg = entry.seoImage.one() %}
        <img src="{{ img.src() }}"
             class="absolute inset-0 w-full h-full object-cover {% if alt %}opacity-100 group-hover:opacity-0{% else %}opacity-0 group-hover:opacity-25{% endif %} transition duration-500 ease-in-out"
             alt="{{ originalImg.title }}"
             srcset="{{ img.srcset() }}"
             sizes="100vw" />

        <div class="relative z-50 flex flex-col h-full {% if alt %}opacity-0 group-hover:opacity-100 transition ease-in-out duration-500{% else %}{% endif %}">
            <h3 class="{% if bgColour == 'bg-white' %}text-navy{% else %}text-white{% endif %} text-3xl font-bold mb-8">{{ entry.title }}</h3>
            <p class="{% if bgColour == 'bg-white' %}text-navy{% else %}text-white{% endif %} opacity-75 text-lg mb-8">
                {{ entry.seoDescription }}
            </p>
            <div class="mt-auto">
                <a href="{{ entry.url }}" class="{% if bgColour == 'bg-white' %}text-navy{% else %}text-white{% endif %} btn-white {% if bgColour == 'bg-white' %}border-navy hover:bg-navy hover:text-white{% else %}border-white hover:bg-white hover:text-navy{% endif %}">
                    Learn more
                </a>
            </div>
        </div>

        {% if alt %}
            <div class="w-full h-full bg-navy bg-opacity-25 flex justify-center items-center inset-0 absolute group-hover:opacity-0 transition ease-in-out duration-500">
                <h3 class="text-white font-bold leading-none transform rotate-90">{{ entry.title }}</h3>
            </div>
        {% endif %}
    </div>
{% endfor %}