{% extends '/partials/_base.twig' %}

{% block content %}

    {% include '/partials/header/_nav.twig' %}

    {% set headerImg = category.seoImage.one() %}

    <header class="w-full bg-navy h-64 relative flex flex-row justify-center items-center">
        <img class="absolute inset-0 w-full h-full object-cover" src="{{ headerImg.url }}" alt="{{ headerImg.title }}">
        <div class="absolute w-full h-full bg-navy bg-opacity-50"></div>
        <img class="absolute h-full" src="/assets/img/header-logo-overlay.svg" alt="{{ category.title }}">
        <h1 class="text-5xl text-white font-bold relative">{{ category.title }}</h1>
    </header>

    <section class="border-b border-light_grey">
        <div class="lg:relative py-16 lg:py-24">
            <div class="max-w-7xl mx-auto px-4 sm:px-6">
                <div class="w-full lg:w-5/6 mx-auto">
                    <div class="w-full lg:w-3/4 plainText bg-white">
                        {{ category.productCategoryDescription | markdown }}
                    </div>
                    {% if category.benefitsMatrix | length %}
                        {% set benefits = category.benefitsMatrix.all() %}
                        <h5 class="uppercase font-bold text-navy mt-16">Benefits</h5>
                        <div class="flex flex-col space-y-4 my-4">
                        {% for benefit in benefits %}
                            <div class="flex flex-row space-x-2 items-center">
                                <i class="{{ benefit.icon }} text-mustard text-4xl"></i>
                                <p class="uppercase text-navy font-bold text-lg">{{ benefit.benefit }}</p>
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {% if category.productBlockquote %}

        <section class="bg-blue py-16 lg:py-24 w-full relative flex flex-row justify-center items-center">
            <img class="hidden lg:block absolute mx-auto h-full object-cover inset-0 py-8" src="/assets/img/blue-quote.svg" alt="{{ category.title }}">
            <div class="max-w-7xl mx-auto px-4 sm:px-6">
                <div class="w-full lg:w-5/6 mx-auto">
                    <div class="w-full text-center">
                        <h5 class="text-white opacity-75 mb-0">
                            {{ category.productBlockquote }}
                        </h5>
                    </div>
                </div>
            </div>
        </section>

    {% endif %}

    <section>
        <div class="lg:relative py-16 lg:py-24 bg-white">
            <div class="max-w-7xl mx-auto px-4 sm:px-6">
                <div class="w-full lg:w-5/6 mx-auto">
                    {% set entries = craft.entries()
                        .section('products')
                        .relatedTo(category)
                        .orderBy('postDate asc')
                        .all() %}

                    {% for product in entries %}
                        <div class="pb-8 flex flex-row justify-between">
                            <h4 class="text-navy uppercase font-bold leading-none">{{ product.title }}</h4>
                            {% set download = product.downloads.one() %}
                            {% if download | length %}
                                <a
                                    class="inline-flex uppercase items-center justify-center px-8 py-2 border border-navy leading-6 font-medium rounded-md text-navy font-bold text-sm hover:bg-navy hover:text-white transition ease-in-out duration-500"
                                    href="{{ download.url }}">
                                    DOWNLOAD
                                </a>
                            {% endif %}
                        </div>
                        <a href="{{ product.url }}" class="inline-flex flex-row w-full" style="min-height: 200px;">
                            {% set optimizedImages = product.seoImage.one().optimizedimages %}
                            <div class="w-full lg:w-1/3 relative overflow-hidden">
                                <img src="{{ optimizedImages.src() }}"
                                     class="absolute object-cover w-full h-full inset-0 transform hover:scale-110 transition duration-500 ease-in-out"
                                    srcset="{{ optimizedImages.srcset() }}"
                                    sizes="100vw" />
                            </div>
                            <div class="w-2/3 bg-input_bg p-8 text-navy">
                                {{ product.seoDescription | markdown }}
                            </div>
                        </a>
                        {% if not loop.last %}
                            <div class="mt-12 mb-8 bg-input_bg w-full" style="height: 2px;"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{#    {% if category.relatedProducts | length %}#}
{#        {% include 'blocks/partials/_relatedProducts.twig' %}#}
{#    {% endif %}#}

    {% include 'partials/footer/_footer.twig' %}

{% endblock %}