{% extends '/partials/_base.twig' %}

{% block content %}

    {% include 'partials/_nav.twig' with { 'colour': 'white', 'logo': 'logo.svg', 'navColour' : 'navy', 'includeDropdowns': true } %}

    {% set headerImg = entry.seoImage.one() %}

    <header class="w-full bg-navy h-64 relative flex flex-row justify-center items-center" style="height: 300px;">
        {% if headerImg | length %}
            <img class="absolute inset-0 w-full h-full object-cover" style="z-index: 1;" src="{{ headerImg.url }}" alt="{{ headerImg.title }}">
        {% endif %}
        <div class="absolute w-full h-full opacity-75 bg-gradient-to-r from-navy z-10"></div>
        <img class="absolute h-full z-10" src="/assets/img/header-logo-overlay.svg" alt="{{ entry.title }}">
        <h1 class="text-5xl text-white font-bold relative z-50">{{ entry.title }}</h1>
    </header>


    <section class="border-b border-light_grey plainText bg-white">
        <div class="lg:relative py-16 lg:py-24">
            <div class="max-w-7xl mx-auto px-4 sm:px-6">
                <div class="w-full lg:w-3/4">
                    {% set blocks = entry.contentPageBuilder.all() %}
                    {% if blocks | length %}
                        {% for block in blocks %}
                            {% if block.type == 'mainCallout' %}
                                <div class="w-full lg:w-5/6 mx-auto">
                                    {% if block.mainCalloutHeading | length %}
                                        <h2 class="font-bold">{{ block.mainCalloutHeading }}</h2>
                                    {% endif %}
                                    {% if block.mainCalloutText %}
                                        <h5>{{ block.mainCalloutText }}</h5>
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if block.type == 'headingAndText' %}
                                <div class="mt-12 lg:mt-16">
                                    <div class="w-full lg:w-5/6 mx-auto">
                                        {% if block.heading | length %}
                                            <h5 class="uppercase text-navy mb-8 font-bold">{{ block.heading }}</h5>
                                        {% endif %}
                                        {% if block.text | length %}
                                            {{ block.text | markdown }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}

                            {% if block.type == 'image' %}
                                {% if block.image.one() | length %}
                                    {% set optimizedImages = block.image.one().optimizedimages %}
                                    <img class="w-full ml-20 mt-12 lg:mt-16"
                                         src="{{ optimizedImages.src() }}"
                                         srcset="{{ optimizedImages.srcset() }}"
                                         sizes="100vw" />
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>


    {% include 'partials/footer/_footer.twig' %}

{% endblock %}