
    <div class="lg:relative py-16 lg:py-24 bg-white">

        {% set blocks = customQuery %}
        {% if blocks | length %}
            {% for block in blocks %}
                {% if block.type == 'mainCallout' %}
                    <section class="plainText bg-white">
                        <div class="max-w-7xl mx-auto px-4 sm:px-6 {% if not loop.first %}pt-12{% endif %}">
                            <div class="w-full lg:w-5/6">
                                {% if block.mainCalloutHeading | length %}
                                    <h2 class="font-bold text-3xl md:text-5xl">{{ block.mainCalloutHeading }}</h2>
                                {% endif %}
                                {% if block.mainCalloutText %}
                                    <h5>{{ block.mainCalloutText | nl2br }}</h5>
                                {% endif %}
                                {% if block.mainCallout %}
                                    <h5>{{ block.mainCallout | nl2br }}</h5>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                {% endif %}

                {% if block.type == 'headingAndText' %}
                    <section class="plainText bg-white">
                        <div class="{% if block.backgroundColour | length %}{{ block.backgroundColour }} py-12 mt-12{% else %}pt-12{% endif %}">
                            <div class="max-w-7xl mx-auto px-4 sm:px-6">
                                <div class="">
                                    <div class="w-full lg:w-5/6">
                                        {% if block.heading | length %}
                                            <h5 class="uppercase text-navy mb-8 font-bold">{{ block.heading }}</h5>
                                        {% endif %}
                                        {% if block.text | length %}
                                            {{ block.text | markdown }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endif %}

                {% if block.type == 'image' %}
                    <div class="max-w-7xl mx-auto px-4 sm:px-6">
                        {% if block.image.one() | length %}
                            {% set optimizedImages = block.image.one().optimizedimages %}
                            <img class="w-full mt-12 lg:mt-16"
                                 src="{{ optimizedImages.src() }}"
                                 srcset="{{ optimizedImages.srcset() }}"
                                 sizes="100vw" />
                        {% endif %}
                    </div>
                {% endif %}


                {% if block.type == 'gridLayout' %}
                    <section class="plainText bg-white">
                        <div class="{% if not loop.first %}mt-16{% endif %} {% if loop.last %}-mb-24{% endif %} relative">
                            <div class="absolute top-0 bg-input_bg" style="height: 2px;left:0;width: 100%;z-index: 1;"></div>
                            {% for batches in block.blocks.all()|batch(3, null) %}
                                <div class="max-w-7xl mx-auto px-4 sm:px-6">
                                    <div class="relative">
                                        <div class="w-full flex flex-col lg:flex-row">
                                            {% for block in batches %}
                                                <div class="w-full relative border-b border-input_bg lg:border-none lg:w-1/3 px-12 py-32 bg-gradient-to-r from-white to-off_white flex flex-col group relative">
                                                    <div class="relative z-50 flex flex-col h-full opacity-100">
                                                        <h3 class="text-navy text-3xl font-bold mb-8">{{ block.heading }}</h3>
                                                        <p class="text-navy opacity-75 text-lg mb-8">
                                                            {{ block.text }}
                                                        </p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="absolute bottom-0 bg-input_bg" style="height: 2px;left:-100%;width: 3000px;"></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}

                {% if block.type == 'quote' %}

                    <section class="bg-mustard py-16 lg:py-24 w-full relative flex flex-row justify-center items-center {% if not loop.first %}mt-16{% endif %} {% if loop.last %}-mb-24{% endif %}">
                        <img class="hidden lg:block absolute mx-auto h-full object-cover inset-0" src="/assets/img/quotation.svg" alt="{{ entry.title }}">
                        <div class="max-w-7xl mx-auto px-4 sm:px-6" style="z-index: 1;">
                            <div class="w-full lg:w-5/6 mx-auto">
                                <div class="w-full text-center">
                                    <h5 class="text-white mb-0">
                                        {{ block.quoteText }}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </section>

                {% endif %}

            {% endfor %}
        {% endif %}
    </div>
