{% extends '/partials/_base.twig' %}

{% block content %}

    {% include 'partials/_nav.twig' with { 'colour': 'white', 'logo': 'logo.svg', 'navColour' : 'navy', 'includeDropdowns': true } %}

    <header class="w-full bg-navy h-64 relative flex flex-row justify-center items-center px-4" style="height: 300px;">
        <div class="absolute w-full h-full bg-navy bg-opacity-50"></div>
        <img class="absolute h-full w-full object-cover z-10" src="/assets/img/header-logo-overlay.svg" alt="{{ entry.title }}">
        <h1 class="text-3xl lg:text-5xl text-white font-bold relative z-50">{{ entry.title }}</h1>
    </header>


    {% include 'blocks/_contentPageBuilder.twig' with { 'customQuery': entry.productPageBuilder.all() } %}

    {% if entry.downloads | length %}
        <section class="bg-blue">
            <div class="lg:relative py-16 lg:py-24">
                <div class="max-w-7xl mx-auto px-4 sm:px-6">
                    <div class="w-full ml-0 md:ml-20">
                        <div class="w-full lg:w-3/4">
                            {% set downloads = entry.downloads.all() %}
                            {% for download in downloads %}
                                <div class="w-full flex flex-col md:flex-row items-center justify-between">
                                    <div class="mb-8 md:mb-0">
                                        <h4 class="text-white uppercase mb-2"><strong>{{ download.title }}</strong></h4>
                                        <p class="text-white text-2xl">{{ download.seoDescription }}</p>
                                    </div>
                                    <a href="{{ download.url }}" class="uppercase text-lg font-bold text-white px-12 py-4 border border-white rounded-md hover:bg-navy transition duration-500 ease-in-out" target="_blank">Download</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% include 'partials/footer/_productFooter.twig' %}

{% endblock %}