{% extends '/partials/_base.twig' %}

{% block content %}

    {% include '/partials/header/_nav.twig' %}

    <header class="w-full bg-navy h-64 relative flex flex-row justify-center items-center">
        <div class="absolute w-full h-full bg-navy bg-opacity-50"></div>
        {% set optimizedImages = entry.productImages.one().optimizedimages %}
        <img class="absolute inset-0 w-full h-full object-cover" src="{{ optimizedImages.src() }}"
             srcset="{{ optimizedImages.srcset() }}"
             sizes="100vw"
             role="presentation"
        />
        <div class="absolute w-full h-full bg-navy bg-opacity-50"></div>
        <img class="absolute h-full" src="/assets/img/header-logo-overlay.svg" alt="{{ entry.resourceTitle }}">
        <h1 class="text-5xl text-white font-bold relative">{{ entry.title }}</h1>
    </header>

    <section class="border-b border-light_grey">
        <div class="lg:relative py-16 lg:py-24">
            <div class="max-w-7xl mx-auto px-4 sm:px-6">
                <div class="w-full lg:w-5/6 mx-auto">
                    <div class="w-full lg:w-3/4 plainText bg-white">
                        {{ entry.productDescription | markdown }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if entry.downloads | length %}
        <section>
            <div class="lg:relative py-16 lg:py-24">
                <div class="max-w-7xl mx-auto px-4 sm:px-6">
                    <div class="w-full lg:w-5/6 mx-auto">
                        <div class="w-full lg:w-3/4 bg-white">
                            <h2><strong>Downloads</strong></h2>
                            {% set downloads = entry.downloads.all() %}
                            {% for download in downloads %}
                                <div class="w-full">
                                    <a target="_blank" class="block py-8 {% if not loop.last %}border-b border-light_grey{% endif %} flex flex-row items-center group transition duration-500 ease-in-out" href="{{ download.url }}">
                                        {% if download.kind == 'image' %}
                                            <i class="far fa-file-image mr-4 text-4xl group-hover:text-blue"></i>
                                        {% endif %}
                                        <h4 class="mb-0 hover:text-blue group-hover:text-blue">{{ download.title }}</h4>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% include 'partials/footer/_footer.twig' %}

{% endblock %}