{% set url = craft.app.request.url %}

<div class="{% if url == '/' %}bg-white{% else %}bg-blue{% endif %} formAndText border-light_grey border-t">
    <div class="max-w-screen-xl mx-auto py-24 px-4 sm:px-6 lg:px-8">
        <div class="w-5/6 mx-auto">
            <h2 class="text-navy text-3xl text-center lg:text-5xl mb-4 font-bold">
                {{ callToAction.formTitle }}
            </h2>
            {{ callToAction.formDescription | markdown }}

            {% set form = craft.formie.forms({ handle: 'letSCollaborate' }).one() %}
            {% do craft.formie.registerAssets(form.handle) %}

            {# Fetch the current submission - if there is one #}
            {% set submission = form.getCurrentSubmission() %}
            {% set submitted = craft.formie.plugin.service.getFlash(form.id, 'submitted') %}

            {# Show any error or success messages for the submission #}
            {% set flashNotice = craft.formie.plugin.service.getFlash(form.id, 'notice') %}
            {% set flashError = craft.formie.plugin.service.getFlash(form.id, 'error') %}

            {% if flashNotice %}
                <div role="alert">
                    {{ flashNotice | raw }}
                </div>
            {% endif %}

            {% if flashError %}
                <div role="alert">
                    {{ flashError | raw }}
                </div>
            {% endif %}

            <form id="{{ form.formId }}" method="post" data-config="{{ form.configJson }}">
                {{ csrfInput() }}
                {{ actionInput('formie/submissions/submit') }}
                {{ hiddenInput('handle', form.handle) }}

                <div class="flex flex-col md:flex-row justify-between space-x-0 space-y-4 md:space-x-2 md:space-y-0">
                    {% for field in form.getFields() %}
                        {{ craft.formie.renderField(form, field) }}
                    {% endfor %}
                    <div class="fui-field w-full md:w-1/3">
                        <button class="w-full py-4 px-6 bg-navy text-sm uppercase tracking-widest text-white border border-white rounded font-bold" type="submit">Let's collaborate</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="relative bg-navy shadow">
    <div class="w-full mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
            <div class="w-0 flex-1 hidden md:flex">
                <a href="#" class="inline-flex">
                    <img class="h-8 w-auto sm:h-10" src="/assets/img/logo-white.svg" alt="Mincotec">
                </a>
            </div>
            <nav class="hidden md:flex space-x-10">
                {% set nodes = craft.navigation.nodes('footerNavigation').level(1).all() %}
                {% nav node in nodes %}
                    <a {% if node.url %}href="{{ node.url }}"{% endif %} class="text-white inline-flex items-center space-x-2 text-base leading-6 font-medium hover:text-gray-900 transition ease-in-out duration-150" {% if node.newWindow %} target="_blank" rel="noopener"{% endif %} {% for attribute in node.customAttributes %}{{ attribute.attribute }}="{{ attribute.value }}"{% endfor %}>
                        <div class="text-base leading-6 font-medium">
                            {{- node.title -}}
                        </div>
                    </a>
                {% endnav %}
            </nav>
        </div>
    </div>

    <a href="#" class="inline-flex md:hidden w-full mb-8">
        <img class="h-8 w-auto sm:h-10 mx-auto" src="/assets/img/logo-white.svg" alt="Mincotec">
    </a>

    <div class="w-3/4 mx-auto px-4 pb-8 flex md:hidden">
        <nav class="flex space-x-10 w-full justify-between">
            {% set nodes = craft.navigation.nodes('footerNavigation').level(1).all() %}
            {% nav node in nodes %}
                <a {% if node.url %}href="{{ node.url }}"{% endif %} class="text-white inline-flex items-center space-x-2 text-base leading-6 font-medium hover:text-gray-900 transition ease-in-out duration-150" {% if node.newWindow %} target="_blank" rel="noopener"{% endif %} {% for attribute in node.customAttributes %}{{ attribute.attribute }}="{{ attribute.value }}"{% endfor %}>
                    <div class="text-base leading-6 font-medium">
                        {{- node.title -}}
                    </div>
                </a>
            {% endnav %}
        </nav>
    </div>
</div>