{% set url = craft.app.request.url %}

{% if url != '/contact' %}
    <div class="{% if url == '/' %}bg-white{% else %}bg-blue{% endif %} formAndText">
        <div class="max-w-screen-xl mx-auto py-24 px-4 sm:px-6 lg:px-8">
            <div class="w-full mx-auto">
                <h2 class="text-navy text-3xl text-center lg:text-5xl font-bold leading-tight" style="margin-bottom: 30px;">
                    {{ callToAction.formTitle | nl2br }}
                </h2>
                {{ callToAction.formDescription | markdown }}

                {% macro errorList(errors) %}
                    {% if errors %}
                        <ul class="errors">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endmacro %}

                {% from _self import errorList %}
                <form method="post" action="" accept-charset="UTF-8">
                    {{ csrfInput() }}
                    <input type="hidden" name="action" value="contact-form/send">
                    <input type="hidden" name="message[formName]" value="footerCta">
                    {{ redirectInput('contact/thanks') }}

                    <div class="flex flex-col w-3/4 mx-auto">
                        {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
                        {{ message is defined and message ? errorList(message.getErrors('message')) }}
                    </div>

                    <div class="w-full lg:w-3/4 mx-auto flex flex-col md:flex-row space-x-0 lg:space-x-4 space-y-4 lg:space-y-0">
                        <input placeholder="Full Name" class="w-full py-3 px-4 border border-white bg-input_bg rounded placeholder-black" id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}">
                        {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

                        <input placeholder="Email" class="w-full py-3 px-4 border border-white bg-input_bg rounded placeholder-black" id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}">

                        <input placeholder="How can we help?" type="text" class="w-full py-3 px-4 border border-white bg-input_bg rounded placeholder-black" id="message" name="message" value="{{ message.message ?? '' }}">

                        <input type="submit" value="Send" class="w-full py-3 px-4 bg-navy text-sm uppercase tracking-widest text-white border border-white rounded font-bold">
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endif %}

{% include 'partials/footer/_footerNav.twig' %}