<div class="relative bg-navy shadow">
    <div class="w-full mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
            <div class="w-0 flex-1 hidden md:flex">
                <a href="#" class="inline-flex">
                    <img class="h-8 w-auto sm:h-10" src="/assets/img/logo-white.svg" alt="Mincotec">
                </a>
            </div>
            <nav class="hidden md:flex space-x-10">
                <a href="#" class="text-white inline-flex items-center space-x-2 text-base leading-6 font-medium hover:text-gray-900 transition ease-in-out duration-150">
                    &copy; {{ 'now'|date('Y') }} - MincoTech
                </a>
                {% set nodes = craft.navigation.nodes('footerNavigation').level(1).all() %}
                {% nav node in nodes %}
                    <a {% if node.url %}href="{{ node.url }}"{% endif %} class="text-white inline-flex items-center space-x-2 text-base leading-6 font-medium hover:text-gray-900 transition ease-in-out duration-150" {% if node.newWindow %} target="_blank" rel="noopener"{% endif %} {% for attribute in node.customAttributes %}{{ attribute.attribute }}="{{ attribute.value }}"{% endfor %}>
                        <div class="text-base leading-6 font-medium">
                            {{- node.title -}}
                        </div>
                    </a>
                {% endnav %}
            </nav>
        </div>
    </div>

    <a href="#" class="inline-flex md:hidden w-full mb-8">
        <img class="h-8 w-auto sm:h-10 mx-auto" src="/assets/img/logo-white.svg" alt="Mincotec">
    </a>

    <div class="w-3/4 mx-auto px-4 pb-8 flex md:hidden">
        <nav class="flex space-x-10 w-full justify-between">
            {% set nodes = craft.navigation.nodes('footerNavigation').level(1).all() %}
            {% nav node in nodes %}
                <a {% if node.url %}href="{{ node.url }}"{% endif %} class="text-white inline-flex items-center space-x-2 text-base leading-6 font-medium hover:text-gray-900 transition ease-in-out duration-150" {% if node.newWindow %} target="_blank" rel="noopener"{% endif %} {% for attribute in node.customAttributes %}{{ attribute.attribute }}="{{ attribute.value }}"{% endfor %}>
                    <div class="text-base leading-6 font-medium">
                        {{- node.title -}}
                    </div>
                </a>
            {% endnav %}
        </nav>
    </div>
</div>