{% extends '/partials/_base.twig' %}

{% block content %}

    {% include '/partials/header/_nav.twig' %}

    <header class="w-full h-64 relative flex flex-row justify-center items-center">
        {% set headerImg = entry.resourceImage.one() %}
        <img class="absolute inset-0 w-full h-full object-cover" src="{{ headerImg.url }}" alt="{{ headerImg.title }}">
        <div class="absolute w-full h-full bg-navy bg-opacity-50"></div>
        <img class="absolute h-full" src="/assets/img/header-logo-overlay.svg" alt="{{ entry.resourceTitle }}">
        <h1 class="text-5xl text-white font-bold relative">{{ entry.resourceTitle }}</h1>
    </header>

    <section class="border-b border-light_grey">
        <div class="lg:relative py-16 lg:py-24">
            <div class="max-w-7xl mx-auto px-4 sm:px-6">
                <div class="w-full lg:w-5/6 mx-auto">
                    <div class="w-full lg:w-3/4 plainText bg-white">
                        {{ entry.resourceDescription | markdown }}
                    </div>
                    {% if entry.benefitsMatrix | length %}
                        {% set benefits = entry.benefitsMatrix.all() %}
                        <div class="flex flex-col justify-between mt-8 space-y-4 lg:space-y-0 lg:flex-row">
                            {% for benefit in benefits %}
                                <div class="flex flex-row items-center">
                                    <div class="rounded-full border-2 border-navy mr-4 p-2 w-16 h-16 flex flex-row justify-center items-center">
                                        <i class="{{ benefit.icon }} absolute text-mustard text-3xl"></i>
                                    </div>
                                    <p class="uppercase text-navy m-0 font-bold">{{ benefit.benefit }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {% if entry.resourceBlockquote %}

        <section class="bg-mustard py-16 lg:py-24 w-full relative flex flex-row justify-center items-center">
            <img class="hidden lg:block absolute mx-auto h-full object-cover inset-0" src="/assets/img/quotation.svg" alt="{{ entry.title }}">
            <div class="max-w-7xl mx-auto px-4 sm:px-6">
                <div class="w-full lg:w-5/6 mx-auto">
                    <div class="w-full text-center">
                        <h5 class="text-white opacity-75 mb-0">
                            {{ entry.resourceBlockquote }}
                        </h5>
                    </div>
                </div>
            </div>
        </section>

    {% endif %}

    <section>
        <div class="lg:relative pb-0 pt-16 lg:pt-24 bg-white">
            <div class="max-w-7xl mx-auto px-4 sm:px-6">
                <div class="w-full lg:w-5/6 mx-auto">
                    <div class="w-full lg:w-3/4 plainText bg-white mb-8">
                        {{ entry.resourceOverview | markdown }}
                    </div>

                    {# Get all the products that are related to the resource that is loaded #}
                    {% set products = craft.entries().section('products').relatedResource(entry).all() %}

                    {# Get all the product categories that are related to the products we just loaded #}
                    {% set productCategories = craft.categories().group('productCategories').relatedTo(products).all() %}

                    {# Loop through the categories that are related to the products we loaded #}
                    {% for category in productCategories %}
                        <div class="w-full block text-left flex flex-row space-x-6 py-8 border-light_grey border-b hover:cursor-pointer {% if loop.first %}border-t pt-8{% endif %}">
                            <div class="flex flex-col space-y-4">
                                <h5 class="uppercase leading-none mt-1 text-navy font-bold">{{ category.title }}</h5>

                                <div class="flex flex-col panel">

                                    <div class="mb-4 text-navy opacity-75">
                                        {{ category.productCategoryDescription | markdown }}
                                    </div>

                                    {# Loop through the products that are related to the current category in the main loop and related to the resource we are looking at #}
                                    {% set entries = craft.entries().section('products').relatedTo(category).relatedResource(entry).all() %}
                                    <div class="flex flex-col lg:flex-row space-x-0 lg:space-x-8">
                                        {% for product in entries %}
                                            <a href="{{ category.url }}" class="flex flex-col w-full mb-4 lg:mb-0 lg:w-1/4">
                                                {% set optimizedImages = product.seoImage.one().optimizedimages %}

                                                <div class="relative w-full h-40 overflow-hidden">
                                                    <img class="absolute inset-0 w-full h-full object-cover transform hover:scale-110 transition duration-500 ease-in-out" src="{{ optimizedImages.src() }}"
                                                         srcset="{{ optimizedImages.srcset() }}"
                                                         sizes="100vw" />
                                                </div>
                                                <div class="w-full bg-input_bg text-center p-4">
                                                    <p class="uppercase text-sm text-navy text-navy font-bold">
                                                        {{ product.title }}
                                                    </p>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% set blocks = entry.pageBuilder.all() %}

    {% for block in blocks %}
        {% include 'blocks/_'~block.type %}
    {% endfor %}

    {% include 'partials/footer/_footer.twig' %}

{% endblock %}