{% extends '/partials/_base.twig' %}

{% block content %}

    {% include 'partials/_nav.twig' with { 'colour': 'white', 'logo': 'logo.svg', 'navColour' : 'navy', 'includeDropdowns': true } %}

    <header class="w-full bg-navy h-64 relative flex flex-row justify-center items-center">
        <div class="absolute w-full h-full bg-navy bg-opacity-50"></div>
        <img class="absolute h-full" src="/assets/img/header-logo-overlay.svg" alt="{{ entry.title }}">
        <h1 class="text-3xl lg:text-5xl text-white font-bold relative z-50">{{ entry.title }}</h1>
    </header>


    {% set blocks = entry.pageBuilder.all() %}

    {% for block in blocks %}
        {% include 'blocks/_'~block.type %}
    {% endfor %}

    <div class="lg:relative bg-white border-opaque_navy border-t">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 relative">
            <div class="w-full mx-auto flex flex-col lg:flex-row flex-wrap justify-start relative">
                {% set categories = craft.categories()
                    .group('productCategories').all() %}
                {% for category in categories %}
                    <div class="w-full relative lg:w-1/3 px-12 py-32 bg-gradient-to-l from-opaque_white flex flex-col group relative">
                        {% set img = category.seoImage.one().optimizedimages %}
                        <div class="absolute w-full h-full inset-0 flex items-center justify-center" style="z-index: 1;">
                            <h2 class="text-white font-bold leading-tight transform rotate-90">
                                {{ category.title }}
                            </h2>
                        </div>
                        <img class="absolute inset-0 w-full h-full object-cover opacity-100 group-hover:opacity-0 transition duration-500 ease-in-out"
                             src="{{ img.src() }}"
                             srcset="{{ img.srcset() }}"
                             sizes="100vw">
                        <div class="relative z-50 flex flex-col h-full opacity-0 group-hover:opacity-100 transition duration-500 ease-in-out">
                            <h3 class="text-navy text-3xl font-bold mb-8">{{ category.title }}</h3>
                            <p class="text-navy opacity-75 text-lg mb-8">
                                {{ category.seoDescription }}
                            </p>
                            <div class="mt-auto">
                                <a href="{{ category.url }}" class="btn-navy border-navy">
                                    Learn more
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    {% include 'partials/footer/_footer.twig' %}

{% endblock %}